@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-foreground !important;
}

*::selection {
  background-color: #c68c65;
  color: #333;
}

button {
  user-select: none;
}

img {
  user-select: none;
}
